<div id="plane-info">
	<p><img src="{{logo}}" alt="Company Logo" id="logo"></p>
	<strong>Manufacturer:</strong> {{Man}}<br>
	<strong>Model:</strong> {{Mdl}}<br>
	<strong>From:</strong> {{From}}<br>
	<strong>To:</strong> {{To}}
</div>